<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <variable name="FROST_LL" value="${FROST_LL:-INFO}" />
    <variable name="FROST_LL_DSMAPPER" value="${FROST_LL_DSMAPPER:-INFO}" />
    <variable name="FROST_LL_IMPORTER" value="${FROST_LL_IMPORTER:-INFO}" />
    <variable name="FROST_LL_REFLECTIONS" value="${FROST_LL_REFLECTIONS:-ERROR}" />
    <variable name="FROST_LL_STA" value="${FROST_LL_STA:-INFO}" />
    <variable name="FROST_LL_URLUTILS" value="${FROST_LL_URLUTILS:-WARN}" />
    <variable name="FROST_LL_VALIDATOR" value="${FROST_LL_VALIDATOR:-INFO}" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %35logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/SensorThingsImporter.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover. Make sure the path matches the one in the file element or else
			the rollover logs are placed in the working directory. -->
			<fileNamePattern>logs/SensorThingsImporter_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>50MB</maxFileSize>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="de.fraunhofer.iosb.ilt.sensorthingsimporter.csv.DsMapperFilter" level="${FROST_LL_DSMAPPER}"/>
	<logger name="de.fraunhofer.iosb.ilt.sensorthingsimporter.utils.UrlUtils" level="${FROST_LL_URLUTILS}"/>
	<logger name="de.fraunhofer.iosb.ilt.sensorthingsimporter.validator" level="${FROST_LL_VALIDATOR}"/>
	<logger name="de.fraunhofer.iosb.ilt.sensorthingsimporter" level="${FROST_LL_IMPORTER}"/>
	<logger name="de.fraunhofer.iosb.ilt.sta" level="${FROST_LL_STA}"/>
	<logger name="org.reflections8.Reflections" level="${FROST_LL_REFLECTIONS}"/>

	<root level="${FROST_LL}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
